[submodule "lib/Home-AssistantConfig"]
	path = lib/Home-AssistantConfig
	url = https://github.com/notoriousbdg/Home-AssistantConfig.git
[submodule "lib/vpnmaster/homeassistant-custom-components"]
	path = lib/vpnmaster/homeassistant-custom-components
	url = https://github.com/vpnmaster/homeassistant-custom-components
[submodule "lib/andrewjfreyer/monitor-appdaemon"]
	path = lib/andrewjfreyer/monitor-appdaemon
	url = https://github.com/andrewjfreyer/monitor.git
[submodule "lib/andrewjfreyer/monitor"]
	path = lib/andrewjfreyer/monitor
	url = https://github.com/andrewjfreyer/monitor.git
[submodule "lib/JeffLIrion/homeassistant_native_firetv"]
	path = lib/JeffLIrion/homeassistant_native_firetv
	url = https://github.com/JeffLIrion/homeassistant_native_firetv.git
	branch = pure-python-adb
[submodule "lib/pnbruckner/homeassistant-config"]
	path = lib/pnbruckner/homeassistant-config
	url = https://github.com/pnbruckner/homeassistant-config.git
