homeassistant:
  name: !secret home_name
  latitude: !secret home_lat
  longitude: !secret home_long
  elevation: !secret home_elevation
  unit_system: imperial
  time_zone: !secret home_time_zone
  customize: !include customize.yaml
  packages: !include_dir_named configuration/packages
  whitelist_external_dirs:
    - /home/homeassistant/.homeassistant
    - /tmp

logger:
  default: warning
  logs:
    custom_components.media_player.firetv: critical
    
frontend:

config:

http:
  api_password: !secret http_password
  base_url: !secret http_base_url 
  
ifttt:
  key: !secret ifttt_key

updater:

discovery:

ios:

conversation:

history:

logbook:

map:

sun:

alarm_control_panel: !include configuration/alarm.yaml

tts:
  - platform: google

mqtt:
  broker: 192.168.1.19
  discovery: true
  discovery_prefix: homeassistant

#begin two hunnid crap
vera:
  vera_controller_url: http://192.168.1.191:3480/
  exclude: []
  # Optional to import switches as lights - this is a list of vera device ids
  lights: [19,27]

zwave:
  usb_path: /dev/zwave
  #udev rule: SUBSYSTEM=="tty", ATTRS{idVendor}=="0658", ATTRS{idProduct}=="0200", ATTRS{serial}=="3f980000.usb", SYMLINK+="zwave"
  config_path: /srv/homeassistant/lib/python3.5/site-packages/python_openzwave/ozw_config
  network_key: !secret zwave_network_key
  
nest:
  client_id: !secret nest_client_id
  client_secret: !secret nest_client_secret
  
folder_watcher:
  - folder: /home/homeassistant/.homeassistant
    patterns:
    - '*.yaml'
    
shell_command:
  git_commit_all: 'git --git-dir=/home/homeassistant/.homeassistant/.git --work-tree=/home/homeassistant/.homeassistant commit -a -m "automated commit for changes to local files while running"'
  git_push: 'git --git-dir=/home/homeassistant/.homeassistant/.git --work-tree=/home/homeassistant/.homeassistant push origin master'
  git_pull: 'git --git-dir=/home/homeassistant/.homeassistant/.git --work-tree=/home/homeassistant/.homeassistant pull'
  plantgateway: 'plantgateway'
  
light: !include_dir_merge_list configuration/lights/

sensor: !include_dir_merge_list configuration/sensors/
media_player: !include_dir_merge_list configuration/media_players/

input_boolean: !include_dir_named configuration/input_boolean/
      
#includes  
group: !include groups.yaml
automation: !include automations.yaml
automation old: !include_dir_merge_list configuration/automations/
script: !include scripts.yaml
alert: !include alerts.yaml

ffmpeg:
