- alias: "Git: Commit Files on Local Config Changes"
  trigger:
    platform: event
    event_type: folder_watcher
    event_data:
      event_type: modified
  condition:
    condition: template
    value_template: "{{ trigger.event.data.file in ('automations.yaml','customize.yaml','scripts.yaml','entity_registry.yaml') }}"
  action:
    - service: logbook.log
      data_template:
        name: Git Commit
        message: "{{ trigger.event.data.file }} in {{ trigger.event.data.folder }} was modified and committed"
    - service: shell_command.git_commit_all
    - service: shell_command.git_push